@using KidsManagement.ViewModels.Teachers;

@model AllTeachersListViewModel;
@{
    ViewData["Title"] = "Details";
}


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Teachers</h1>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">GroupsCount</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Efficiency</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model.Teachers)
                    {
                    <tr>
                        <th scope="row">@teacher.Id</th>
                        <td>
                            <a asp-controller="Teachers"
                               asp-action="Details"
                               asp-route-teacherId="@teacher.Id">@teacher.FullName</a>
                        </td>
                        @if (teacher.GroupsCount == 0)
                        {
                            <td>0</td>
                        }
                        else
                        {
                            <td>
                                <a asp-controller="Admin"
                                   asp-action="AllGroupsOfTeacher"
                                   asp-route-teacherId="@teacher.Id">@teacher.GroupsCount</a>
                            </td>
                            
                        }
                        <td>@teacher.Capacity</td>
                        <td>@teacher.Efficiency</td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</section>