@using KidsManagement.ViewModels.Teachers;

@model TeacherDetailsViewModel


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@Model.FullName</h1>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Gender"></label>
                    <input asp-for="@Model.Gender" type="text" readonly class="form-control" name="Gender" value="@Model.Gender">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Salary"></label>
                    <input asp-for="@Model.Salary" readonly class="form-control" name="Salary" value="@Model.Salary">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.HiringDate"></label>
                    <input asp-for="@Model.HiringDate" readonly class="form-control" type="datetime" name="@Model.HiringDate" value="@Model.HiringDate">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.DismissalDate"></label>
                    <input asp-for="@Model.DismissalDate" readonly class="form-control" type="datetime" name="DismissalDate" value="@Model.DismissalDate">
                </div>
                <hr />
                @if (this.User.IsInRole("Admin"))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="form-group row-md-6" align="center">
                                    <a asp-action="Delete" asp-route-teacherId="@Model.Id" class="btn btn-info" align="middle" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row-md-6" align="center">
                                    <a asp-action="EditInfo" asp-route-teacherId="@Model.Id" class="btn btn-info" align="middle">Edit Info</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
                <label asp-for="@Model.QualifiedLevels"></label>
                @foreach (var level in Model.QualifiedLevels)
                {
                    <div class="form-group row-md-6">
                        <input asp-for="QualifiedLevels" type="text" readonly class="form-control" name="Level" value="@level.Name">
                    </div>
                }
                <div>
                    <a asp-action="EditLevels" asp-route-teacherId="@Model.Id" class="btn btn-info">Edit Levels</a>
                </div>
                <hr />
                <label asp-for="@Model.Groups"></label>
                <hr />
                @if (@Model.Groups.Count() == 0)
                {
                    <input type="text" readonly class="form-control" id="Status" name="Status" value="No groups assigned yet">
                }
                else
                {
                    <table>
                        @foreach (var group in Model.Groups)
                        {
                            <tr>
                                <td>
                                    <div class="form-group row-md-6">
                                        <a asp-controller="Groups" asp-action="Details" asp-route-groupId="@group.Id" class="accordion">@group.Name</a>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group row-md-2">
                                        <a asp-action="UnassignGroup" asp-route-groupId="@group.Id" class="btn btn-info" onclick="return confirm('Are you sure you want to unassign teacher from this group?')">Unassign</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div>
                        <a asp-action="AddGroups" asp-route-teacherId="@Model.Id" class="btn btn-info">Add Groups</a>
                    </div>
                }

            </div>
            <div class="col-md-6">
                <div class="form-group row-md-6">
                    <img src="@Model.ProfilePicURI" class="img-fluid d-block mt-2 mr-auto ml-auto" align="middle" width="400" height="400">
                </div>
                <div class="container-fluid">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="container-fluid text-center">
                            <label class="table-warning">Account Info </label>
                        </div>
                        <div class="form-group row-md-6">
                            <label asp-for="@Model.Username"></label>
                            <input asp-for="@Model.Username" readonly class="form-control" type="text" name="@Model.Username" value="@Model.Username">
                        </div>
                        <div class="form-group row-md-6">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" readonly class="form-control" type="email" name="@Model.Email" value="@Model.Email">
                        </div>
                        <div class="form-group row-md-6">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" readonly class="form-control" type="text" name="@Model.PhoneNumber" value="@Model.PhoneNumber">
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>