@using KidsManagement.ViewModels.Teachers.MyZoneModels;

@model TeacherMyZoneViewModel;
@{
    ViewData["Title"] = "Details";
}
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">My Zone</h1>
        <div>
            <table class="table">
                <thead class="thead-dark" align="center">
                    <tr>
                        <th scope="col">Notifications</th>
                        <th scope="col">Statistics</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr>
                         <td class="form-group row-md-6">
                            @foreach (var notification in Model.Notifications)
                            {
                                <p>
                                    @notification.Type.ToString(): @notification.Content
                                </p>
                            }
                        </td>
                        <td class="form-group row-md-6">
                            <div>
                                Number of Groups: @Model.Statistics.GroupsCount
                            </div>
                            <div>
                                Number of Students: @Model.Statistics.StudentsCount
                            </div>
                            <div>
                                Weekly work hours: @Model.Statistics.WorkingHours /  @Model.Statistics.WeeklyHoursCapacity
                            </div>
                            <div>
                                Personal Efficiency: @Model.Statistics.Efficiency
                            </div>
                        </td>
                        <td class="form-group row-md-6">
                            <div class="button-holder">
                                <a href="/Teachers/MyStudents" class="btn btn-info">Check my Students</a>
                            </div>
                            <hr />
                            <div class="button-holder">
                                <a href="/Teachers/MyGroups" class="btn btn-info">Check my Groups</a>
                            </div>
                            <hr />

                            <div class="button-holder">
                                <a href="/Teachers/MySchedule" class="btn btn-info">Check my Schedule</a>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</section>