@using KidsManagement.ViewModels.Students;

@model AddStudentToGroupInputModel;
@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Choose a Group</h1>
        <div style="padding: 5%;">


            <div>
                <form method="post" asp-action="AddToGroup">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" scope="col">Id</th>
                                <th class="text-center" scope="col">Name</th>
                                <th class="text-center" scope="col">Age Group</th>
                                <th class="text-center" scope="col">Weekday</th>
                                <th class="text-center" scope="col">Start Time</th>
                                <th class="text-center" scope="col">Level</th>
                                <th class="text-center" scope="col">Teacher</th>
                                <th class="text-center" scope="col">Student Count</th>
                                <th class="text-center" scope="col">Choose a group</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var group in Model.GroupsForSelection)
                            {
                                <tr>
                                    <th scope="row">@group.Id</th>
                                    <td>@group.Name</td>
                                    <td>@group.AgeGroup</td>
                                    <td>@group.DayOfWeek</td>
                                    <td>@group.StartTime</td>
                                    <td>@group.LevelName</td>
                                    <td>@group.TeacherName</td>
                                    <td>@group.StudentsCount / @group.MaxStudentsCount</td>
                                    @*<td>@group.Comaptibility</td>*@
                                    @if (group.ActiveGroup)
                                    {
                                        <td class="bg-info text-center">Current Group</td>
                                    }
                                    else
                                    {
                                        <td><input type="radio" asp-for="@Model.IsSelected" value="@group.Id" style="margin-bottom:5px;width:20px;margin-left:40px" /></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                        <div align="center">
                            <input type="submit" class="form-control button btn-info col-md-6" value="Confirm group selection" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>