@using KidsManagement.ViewModels.Students;

@model StudentDetailsViewModel


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@Model.FullName</h1>

        <div class="form-row">

            <div class="col-md-6">
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Gender">Gender</label>
                    <input type="text" readonly class="form-control" id="Gender" name="Gender" value="@Model.Gender">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Age">Age</label>
                    <input type="text" readonly class="form-control" id="Age" name="Age" value="@Model.Age">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.BirthDate">BirthDate</label>
                    <input type="text" readonly class="form-control" id="BirthDate" name="BirthDate" value="@Model.BirthDate">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Grade">Grade</label>
                    <input type="text" readonly class="form-control" id="Grade" name="Grade" value="@Model.Grade">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Status">Status</label>
                    <input type="text" readonly class="form-control" id="Status" name="Status" value="@Model.Status">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.GroupName">Current Group</label>
                    <input type="text" readonly class="form-control" id="Status" name="Status" value="@Model.GroupName">
                </div>
                <hr />
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Parents"></label>
                    <br />
                    @if (@Model.Parents.Count() == 0)
                    {
                        <input type="text" readonly class="form-control" id="Status" name="Status" value="No parents chosen yet">
                    }
                    else
                    {

                        @foreach (var parent in Model.Parents)
                        {
                            <div class="form-group row-md-6">
                                <a asp-controller="Parents"
                                   asp-action="Details"
                                   asp-route-Id="@parent.Id" class="accordion"> @parent.Name</a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="container-fluid col-md-6">
                <div class="form-group row-md-6">
                    <img src="@Model.ProfilePicURI" class="img-fluid d-block mt-2 mr-auto ml-auto" align="middle" width="400" height="400">
                </div>
                <hr />
                @if (@Model.GroupId == 0)
                {
                    <div class="form-group row-md-6" align="center">
                        <a asp-action="AddToGroup" asp-route-studentId="@Model.Id" class="btn btn-info">Add to group</a>
                    </div>
                }
                else
                {
                    <div class="form-group row-md-6" align="center">
                        <a asp-action="AddToGroup" asp-route-studentId="@Model.Id" class="btn btn-info">Change group</a>
                    </div>
                }
                <div class="form-group row-md-6" align="center">
                    <a asp-action="EditParents" asp-route-studentId="@Model.Id" class="btn btn-info" align="middle">Add & edit parents</a> @*TODO: fill in entire EditParentsModel somehow*@
                </div>
            </div>
        </div>
    </div>
</section>