@using KidsManagement.ViewModels.Parents;

@model EditParentsInputModel;
@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Select Parents</h1>
        <div style="padding: 5%;">

            <form enctype="multipart/form-data" method="post" asp-action="EditStudentParents">
                @for (var i = 0; i < Model.Parents.Count(); i++)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="hidden" asp-for="@Model.Parents[i].Id" />
                        @Model.Parents[i].Id
                        @Model.Parents[i].Name
                        <input asp-for="Parents[i].Selected" />
                    </div>
                }
                @*<div class="form-group col-md-6">
                    <label asp-for="@Model.StudentId"></label>
                    <input asp-for="@Model.StudentId" type="number" class="form-control" value="@Model.StudentId" />
                </div>*@
                <input type="submit" class="form-control button btn-info col-md-6" value="Confirm" />
            </form>
        </div>
    </div>
</section>