@using KidsManagement.ViewModels.Parents;

@model ParentsDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@Model.FullName</h1>

        <div class="form-row">

            <div class="col-md-6">
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Gender"></label>
                    <input type="text" readonly class="form-control" id="Gender" name="Gender" value="@Model.Gender">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.PhoneNumber"></label>
                    <input type="text" readonly class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.AlternativePhoneNumber"></label>
                    <input type="text" readonly class="form-control" id="BirthDate" name="BirthDate" value="@Model.AlternativePhoneNumber">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Email"></label>
                    <input type="text" readonly class="form-control" id="Email" name="Email" value="@Model.Email">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.AlternativeEmail"></label>
                    <input type="text" readonly class="form-control" id="AlternativeEmail" name="AlternativeEmail" value="@Model.AlternativeEmail">
                </div>
                <div class="form-group row-md-6">
                    <label asp-for="@Model.Status"></label>
                    <input type="text" readonly class="form-control" id="Status" name="Status" value="@Model.Status">
                </div>
                <hr />
                @{
                    string childrenButtonLabel = Model.Children.Count() == 0 ? "Assign children" : "Add children";
                    string notesButtonLabel = Model.AdminNotes.Count() == 0 ? "Add first note for this parent!" : "Add note";
                }
                @if (this.User.IsInRole("Admin"))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="form-group row-md-6" align="center">
                                    <a asp-controller="Parents" asp-action="Delete" asp-route-parentId="@Model.Id" class="btn btn-info" align="middle" onclick="return confirm('Are you sure you want to delete? Only Parents with all of their Children already deleted can be deleted!')">Delete</a>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row-md-6" align="center">
                                    <a asp-controller="Parents" asp-action="EditInfo" asp-route-parentId="@Model.Id" class="btn btn-info" align="middle">Edit Info</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>

            <div class="col-md-6">
                <div class="form-group row-md-6">
                    <img src="@Model.ProfilePicURI" class="img-fluid d-block mt-2 mr-auto ml-auto" align="middle" width="400" height="400">
                </div>
                <hr />

            </div>

            <div class="col-md-6">
                <label class="table-info" asp-for="@Model.AdminNotes"></label>
                <hr />
                @if (Model.AdminNotes.Count() == 0)
                {
                    <p>No notes available</p>

                }
                else
                {
                    <dl>
                        @foreach (var note in Model.AdminNotes)
                        {
                            <dt>On @note.Date , by @note.AdminName</dt>
                            <dd>@note.Content</dd>
                        }
                    </dl>
                    <br />
                }
                @if (this.User.IsInRole("Admin"))
                {
                    <div class="form-group row-md-6" align="center">
                        <a asp-action="AddNote" asp-route-parentId="@Model.Id" class="btn btn-info" align="middle">@notesButtonLabel</a>
                    </div>
                }
            </div>

            <div class="col-md-6">
                <label class="table-info" asp-for="@Model.Children"></label>
                <hr />
                @if (Model.Children.Count() == 0)
                {
                    <p>No children assigned yet</p>
                }
                else
                {
                    @foreach (var student in Model.Children)
                    {
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group row-md-6">
                                        <a asp-controller="Students"
                                           asp-action="Details"
                                           asp-route-Id="@student.Id"> @student.Name</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row-md-2" style="text-align:center;">
                                        <a asp-action="UnassignStudent" asp-route-studentId="@student.Id" class="btn btn-warning" onclick="return confirm('Are you sure you want to unassign student from this parent?')">Unassign</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    <br />
                }
                @if (this.User.IsInRole("Admin"))
                {
                    <div class="form-group row-md-6">
                        <form asp-action="ListAddStudents" asp-route-parentId="@Model.Id">
                            <button class="btn btn-info" style="margin-left: 200px;" type="submit">@childrenButtonLabel</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</section>